* {
    font-family: 'JetBrains Mono Nerd Font';
    font-size: 13px;
}

window#waybar {
    background-color: rgb(24, 24, 37);
    color: rgb(205, 214, 244);
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar > box {
    padding: 4px 4px;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces {
    border-radius: 8px;
    background-color: rgb(30, 30, 46);
}

#workspaces button {
    padding: 0 0;
    margin-right: 3px;
    background-color: transparent;
    color: rgb(205, 214, 244);
    border-radius: 8px;
    transition-property: background-color, color;
    transition-duration: 0.2s;
}

#workspaces button:last-child {
    margin-right: 0
}

#workspaces button:hover {
    background: rgb(108, 112, 134);
}

#workspaces button.focused, #workspaces button.active {
    background-color: rgb(203, 166, 247);
    color: rgb(30, 30, 46);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 8px;
    color: #ffffff;
    border-radius: 8px;
    transition-property: background-color, color;
    transition-duration: .2s;
}

#window > * {
    font-family: 'Comfortaa';
    font-size: 14px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    font-family: 'Comfortaa';
    font-size: 15px;
    font-weight: bold;
}

#battery {
    background-color: #a6e3a1;
    color: #1e1e2e;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.critical {
    background-color: #f38ba8;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #94e2d5;
    color: #1e1e2e;
}

#network.disconnected {
    background-color: #f38ba8;
}

#wireplumber {
    background-color: #74c7ec;
    color: #1e1e2e;
}

#wireplumber.muted {
    background-color: #f38ba8;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#custom-power {
    padding: 0 4px;
    font-size: 15px;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #313244;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

